/* assets/css/custom.css */

 /* Mobile styles */
.container {
  
  }
  
  .header {
    font-size: 1rem;
    text-align: center;
    
  }
  .corpsprincipal {
    margin-top: 25%;
  }
  .principalInline {
/* 
    text-align: center;
    background-color: red;
    display: flex; */
  }

  .grid {
    /* background-color: ; */
    display: flex;
    height: 50%;
    width: 50%;
    border: 1rem;
    border-radius: 1rem;
    margin: 2rem;
    box-shadow: 2rem;
    text-align: center;
    /* background-color: white; */
  }
  .imgprincipale {
    width: 200%;
    height: 100%;
  }


  

  .corpsprincipal{
    /* margin-top: 150%; */
  }

  .barrdefillante{
    /* top: 150%; */

  }

  .defillantephoto{
    /* bottom: 10; */
  }
  
  /* Fin mobil */




  /* Tablette styles */
  @media (min-width: 640px) {
    .container {
      padding: 2rem; 
      background-color: lightgreen;
    }
  
    .header {
      /* font-size: 2rem; */
    }
  }
  
/* fin tablette */





  /* Desktop styles */
  @media (min-width: 1024px) {
    .container {
      /* padding: 4rem; */
      /* background-color: lightcoral; */
    }
  
    .header {
      /* font-size: 2.5rem; */
    }
  }
  