/* assets/css/custom.css */

 /* Mobile styles */
.container {
  
  }
  
  .header {
    /* font-size: 1rem;
    display: flexbox;
    text-align: center; */
    
  }
  .herUl {
    /* width: 100%;
    text-align: center; */
  }

  .herUl li{
   /* width: 90%;
   margin-block-end: 4px;
   margin-left: 7%;
   padding-block: 4px; */
  }

  .corpsprincipal{
    /* margin-top: 150%; */
  }

  .barrdefillante{
    /* top: 150%; */

  }

  .defillantephoto{
    /* bottom: 10; */
  }
  
  /* Fin mobil */




  /* Tablette styles */
  @media (min-width: 640px) {
    .container {
      padding: 2rem; 
      background-color: lightgreen;
    }
  
    .header {
      /* font-size: 2rem; */
    }
  }
  
/* fin tablette */





  /* Desktop styles */
  @media (min-width: 1024px) {
    .container {
      /* padding: 4rem; */
      /* background-color: lightcoral; */
    }
  
    .header {
      /* font-size: 2.5rem; */
    }
  }
  